<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342042432566-8s00ueabgl0b1li7968k4o5c2qohi0u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342042432566-8s00ueabgl0b1li7968k4o5c2qohi0u1</string>
	<key>API_KEY</key>
	<string>AIzaSyA8UanOFuvKCjV4z4tQAgxuZCjvQdd6BFc</string>
	<key>GCM_SENDER_ID</key>
	<string>342042432566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.games</string>
	<key>PROJECT_ID</key>
	<string>mighty-games</string>
	<key>STORAGE_BUCKET</key>
	<string>mighty-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342042432566:ios:82e1c330306bab548e7497</string>
</dict>
</plist>